<?xml version="1.0"?>
<config>
    <modules>
        <HusseyCoding_Sirportly>
            <version>1.2.3</version>
        </HusseyCoding_Sirportly>
    </modules>
    <global>
        <helpers>
            <sirportly>
                <class>HusseyCoding_Sirportly_Helper</class>
            </sirportly>
            <checkout>
                <rewrite>
                    <data>HusseyCoding_Sirportly_Helper_CheckoutData</data>
                </rewrite>
            </checkout>
        </helpers>
        <models>
            <sirportly>
                <class>HusseyCoding_Sirportly_Model</class>
            </sirportly>
        </models>
        <blocks>
            <sirportly>
                <class>HusseyCoding_Sirportly_Block</class>
            </sirportly>
            <adminhtml>
                <rewrite>
                    <permissions_user_edit_tabs>HusseyCoding_Sirportly_Block_Permissions_User_Edit_AdminhtmlTabs</permissions_user_edit_tabs>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <sirportly_setup>
                <setup>
                    <module>HusseyCoding_Sirportly</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sirportly_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <sirportly>
                <use>standard</use>
                <args>
                    <module>HusseyCoding_Sirportly</module>
                    <frontName>sirportly</frontName>
                </args>
            </sirportly>
        </routers>
        <layout>
            <updates>
                <sirportly>
                    <file>sirportly.xml</file>
                </sirportly>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <events>
            <core_config_data_save_after>
                <observers>
                    <adminhtml_core_config_data_save_after_sirportly>
                        <class>sirportly/observer</class>
                        <method>adminhtmlCoreConfigDataSaveAfter</method>
                    </adminhtml_core_config_data_save_after_sirportly>
                </observers>
            </core_config_data_save_after>
        </events>
        <layout>
            <updates>
                <sirportly>
                    <file>sirportly.xml</file>
                </sirportly>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <sirportly>
                <use>admin</use>
                <args>
                    <module>HusseyCoding_Sirportly</module>
                    <frontName>sirportly</frontName>
                </args>
            </sirportly>
        </routers>
    </admin>
</config>
